/*for top-nav*/
.card{
	margin: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
	display: block;

}
nav.navbar{
	display: block;
  margin: auto;
  
  margin-left: 2%;
}

/*for Side NavBar*/
.cardS{
	margin: auto;
	display: block;
	text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
	overflow: hidden;

	border-radius: 7px;
	background-image: linear-gradient(to top left, #4B0707, #620707);
}

.navbar-dark .navbar-nav .nav-link{
	color: #DCE39B;
	
}


.navbarS{
  

  display: block;
 	
	overflow: hidden;
	background-image: linear-gradient(to top left, #4B0707, #620707);
	

}
.nav-item{
	
	margin: 0 10px 0 10px;
}
.btn-nav{
	
	background-color: transparent;
	border-color: transparent;
	
}
.login-Profile{
	margin-left: %;
}

.scrolled{
	width: 94%;
	display: block;
  position: fixed;
	top: 0; /* required */
	z-index: 6;
	border-radius: 7px;

	
}

@media screen and (max-width: 500px){
	.scrolled{
		width: 90%;
	}
	
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
	 color:#620707;
		background-color: #D29696;
		opacity: 0.8;
} 
