.carousel {
	margin: 30px;
	border-radius: 7px;
	color: silver;

	 background-image: linear-gradient(to top left, #4B0707, #620707);
	z-index: 5;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;

}

img.w-100 {
	border-radius: 8px;
	opacity: 0.4;
	height: 400px;
}
