html, body{
	padding: 0;
	overflow: unset;
	margin: 0;
	-webkit-overflow-scrolling: touch; 
	overflow-x: hidden;

}
.App {
  text-align: center;
	 

}
.head-Seo{
	display: none;
}
.App-logo {
	margin-top: 80px;
  animation: Pause-logo-spin infinite 35s linear;
	margin-bottom: 0;
	margin-left: 80px;
  height: 40vmin;
	opacity:1;

}
.carouselC{
	
}

.appName{
	width: 50%;
	object-fit: cover;
	opacity:1;
	max-height:90%;
  max-width:100%; 

}
.imgTop{
	object-fit: cover;
	margin: 5%;
	margin-top:0;

	
}

.App-header {
	position: relative;
  background-image: linear-gradient(to top left, #4B0707, #620707);
	opacity: 0.9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  }
.App-link {
  color: #09d3ac;
}
button.arrowBtn{
		
    background-color : transparent;
    border : 0;
    outline-style : none;
}



#arrowimg{
	-moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
	position: relative;

   

	
}


a {
      content: '\f0a8';
      font-family: 'FontAwesome';
      transition: 2s ease-in-out;
  }
a:hover {
		
      opacity: 0.4;
      transition: 1s ease-in-out;
  }

@media screen and (max-width: 500px){
	.App-logo{
		margin: 20%;
	
	}
	.appName{
		width: 80%;

	}
	.imgTop{
    margin: 0%;
    
  }
	#arrowimg{
		margin-top: 20%;
	}
	
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes Pause-logo-spin {
  from {
        transform: rotate(0deg);
    }

  to {
        transform: rotate(360deg);
    }
}

