.announcementMain{
	font-family: "Lucida Console", Monaco, monospace;
}

.md-textarea{
	
	cursor:default;
}
.dashboard{
	font-family: "Lucida Console", Monaco, monospace;
	letter-spacing: .15em;
	color: #FFFFFF;
	text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}